{"name": "finregistry-survival-analyses", "path": "✍️ ADD PATH HERE"}
{"name": "finngen-ldsc-summary", "path": "✍️ ADD PATH HERE"}
{"name": "finngen-ldsc-heritability", "path": "✍️ ADD PATH HERE"}
{"name": "finngen-pheno-corr", "path": "✍️ ADD PATH HERE"}
{"name": "finngen-autoreport", "path": "✍️ ADD PATH HERE"}
{"name": "finngen-cases-controls", "path": "✍️ ADD PATH HERE"}
{"name": "finngen-variants", "path": "✍️ ADD PATH HERE"}
{"name": "havana-genes", "path": "✍️ ADD PATH HERE"}
